<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8"/>
        <title>{% block title %}Travel{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/custom.css') }}">
        <script src="{{ asset('assets/js/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    {% endblock %}
</head>
<body>
{% block body %}

    {% block header %}
    {% endblock %}

    {% block content %}
        <h1 class="title">Search Travel Room</h1>
            <div class="col-lg-6 bloc_search">
                    <div class="input-group">
                            <input type="text" class="form-control" placeholder="Entrez un nombre de place">
                            <span class="input-group-btn">
        <button class="btn btn-default" type="submit" method="post">Go!</button>
      </span>
                    </div>
            </div>

    {% endblock %}

    {% block footer %}
    {% endblock %}

{% endblock %}

{% block javascripts %}
{% endblock %}

</body>
</html>
