{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hotel list</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Stars/th>
                <th>Name</th>
                <th>Adress</th>
                <th>Zipcode</th>
                <th>city</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Website</th>
                <th>Capacity</th>
            </tr>
        </thead>
        <tbody>
        {% for hotels in hotels %}
            <tr>
                <td><a href="{{ path('hotel_show', { 'id': hotel.id }) }}"></a></td>
                <td>{{ hotel.stars}}</td>
                <td>{{ hotel.name}}</td>
                <td>{{ hotel.adress}}</td>
                <td>{{ hotel.zipcode}}</td>
                <td>{{ hotel.city}}</td>
                <td>{{ hotel.phone}}</td>
                <td>{{ hotel.email}}</td>
                <td>{{ hotel.website}}</td>
                <td>{{ hotel.capacity}}</td>
                    <ul>
                        <li>
                            <a href="{{ path('partenaire_show', { 'id': hotel.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('partenaire_edit', { 'id': hotel.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('hotel_new') }}">Create a new partenaire</a>
        </li>
    </ul>
{% endblock %}
